/**
 * index.scss
 * - Add any styles you want here!
 */

 body {
  background: #f5f5f5;
}

.title {
  width: 100%;
  text-align: center;
}

.title h2 {
  padding:1em;
  text-align: center;
  display:inline-block;
  text-decoration: none !important;
  margin:0 auto;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.clock {
  width: 20rem;
  height: 20rem;
  border: 20px solid #000;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0px 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef, inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  transform-origin: 100%;
}

.hour-hand {
  height: 12px;
}

.hour-hand::after {
  content: '';
  position: absolute;
  left: 95%;
  top: -3px;
  width: 20px;
  height: 20px;
  background: #000000;
  border-radius: 50px;
  margin: 0;
}

.min-hand {
  height: 9px;
}