* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

button {
    background-color: rgb(98, 127, 190);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
}

#placeholder {
    height: 100px;
    width: 100px;
    padding: 50px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 80px;
}