.container { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: #8bb5bb;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-style:italic;
    font-weight: lighter;
    }
.inner{
        height: 80vh;
        width: 60vw;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: #42838d;
       border-radius: 30px;
    }
.box {
      width: 70%;
      height: 90%;
      background-color: #ffffff;
      box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.5);
      position: relative;
      overflow: hidden;
      border-radius: 20px;
    }
    .number::before{
        content: "";
        position: absolute;
        top: -130px;
        right: -30px;
        width: 90px;
        height: 200px;
        background: var(--secondary-color);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        z-index: -1;
        box-shadow: 0 0 0.7rem rgba(0,0,0,0.5);
    }
    .number{
        height: 60px;
        width: 150px;
        position: absolute;
        top: -30px;
        right: -60px;
        background-color: rgba(0,0,0,0,0.158);
        transform: rotate(45deg);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        box-shadow: 1px 1px 5px 2px rgba(0,0,0,0,0.158);
        background-color: #aad3d8;
    }
    #tweetMe{
        height: 20px;
        width: 20px;
        padding: 5px;
        transform: rotate(-45deg);
        cursor: pointer;
    }
    .number:hover img{
        animation: rot 1s linear;
    }
    @keyframes rot {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
    .text{
        padding: 10%;
        padding-bottom: 0%;
        /* height: 80%; */
    }
    .start-quote{
        opacity: 0.2;
        font-size: 50px;
        margin-top: 20%;
    }
    #quotes{
        font-family: cursive;
        font-size: 20px;
        opacity: 0.8;
    }
    .author{
        text-align: right;
        font-family: "dancing script",cursive;
        font-size: 15px;
        justify-content: baseline;
        font-style: italic;
        font-weight: 800;
        margin-bottom: 0px;
    }
    .newQuotes{
        width: 100%;
        font-size: 18px;
        text-transform: capitalize;
        color: #fff;
    }
    .btn{
        width: 100%;
        height: 10%;
        background-color: #8bb5bb;
        text-align: center;
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 2px;
        cursor: pointer;
        border-radius: 20px;
        border: none;
        font-size: medium;
        font-weight:500;
    }
    .btn:hover{
        transform: scale(1.2);
    }