*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 2em;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(./sky2.jpg);
    background-blend-mode:soft-light;
}

.main{
    max-width: 600px;
    margin: auto;
    text-align: center;
}

input[type="text"]{
    border: 1px solid grey;
    padding: .5em 1em;
    border-radius: 50px;
    font-size: 1.3rem;
}

button.add{
    border: none;
    padding: .5em 1em;
    font-size: 1.3rem;
    margin-left: 1em;
    box-shadow: 2px 2px 7px rgba(181, 175, 175, 0.8);
    border-radius: 5px;
}

ul.todo-list{
    list-style-type: none;
    text-align: left;
    margin-top: 2em;
}

ul > li{
    display: flex;
    align-items: center;
    padding: .5em 1em;
    font-size: 1.5rem;
    margin-bottom: 1em;
    background-color: yellow;
    border-radius: 7px;
}

input[type="checkbox"]{
    width: 1rem;
    height: 1rem;
    margin-right: 1em;
}

.delete{
    margin-left: auto;
}