<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('profile') }}" class="navbar-item">
                                Profile
                            </a>
                            <a href="{{ url_for('update') }}" class="navbar-item">
                                Update
                            </a>
                            <a href="{{ url_for('login') }}" class="navbar-item">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title">Click here for more statistics</h3>
                    <div class="box">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="notification is-danger">
                                    {{ messages[0] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                        <form method="POST" action="/successfull">
                            <button class="button is-block is-info is-large is-fullwidth">statistics</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>